@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  list-style-type: none;
  text-decoration: none;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: #78706c;
}

ul {
  padding: 0;
  display: flex;
  gap: 12px;
}

.navbar {
  display: flex;
  padding: 0 16px;
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 600px;
  margin-bottom: 8px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

.buttons {
  padding: 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.footer {
  background: #eeeeee;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}
