/* Add CSS Styling */

.pink {
  background: #ea999c;
  font-family: "Verdana, DejaVu Sans, sans-serif";
}

#blue {
  color: #89b4fa;

  font-size: 36px;
}
.font {
  font-size: 24px;
}

#green {
  background: #a6e3a1;
  font-size: 24px;
  font-weight: bold;
}

