body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  padding: 8px;
  background: #e3f4ff;
  margin: 5px auto;
}

.content {
  background: #e3f4ff;
  padding: 10px 5px;
}

.button-container {
  text-align: center;
  margin: 10px auto;
  background: #e3f4ff;
  padding: 8px;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  margin: 0 auto;
  padding: 8px;
}

